<h2>Pages#welcome</h2>

<app inline-template :message="<%= "Hello Vue in Ruby on Rails".to_json %>">
  <h2>{{ message }}</h2>
</app>

<% 1.upto(10).each do |i| %>
  <app :message="<%= "testing".to_json %>"></app>
<% end %>
